@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,900');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
	font-family: 'Work Sans', sans-serif;

}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
textarea {
	border: none;
	overflow: auto;
	outline: none;
	resize: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

#main {
  display: flex;
	width: 100%;
	justify-content: space-between;
}
#welcome {
	display: flex;
	flex-direction: column;
}

#cube {
  width: 600px;
  height: 600px;
  box-sizing: border-box;
	margin-right: 20px;
	background: yellow;
	border-radius: 12px;
	padding: 15px;
}

#cube ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
#cube ul li {
  flex: 1 13%;
  background: green;
  padding: 10px;
	border-radius: 9px;
	display: flex;
	align-items: center;
	justify-content: center;
  margin: 15px;
	font-size: 55px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

#cube ul li:before {
    content:'';
    float:left;
    padding-top:100%;
}
#timer {
  background: red;
  transition: width 1s;
	position: fixed;
	top: 0;
	left: 0;
	height: 10px;
}
