#cube {
  border: 1px solid black;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
}

#cube ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
#cube ul li {
  flex: 1 10%;
  background: green;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
