@import url('https://fonts.googleapis.com/css?family=Sarala:400,700');
@import './partials/reset';
@import './partials/timer';
@import './partials/cube';
@import './partials/title';
@import './partials/guessed';
@import './partials/main';
@import './partials/instructions';
