#game-area {
	display: flex;
	padding: 5vh;
	position: relative;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#score-contain {
	position: absolute;
	bottom: 20px;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 5vh;

	strong {
		font-weight: bold;
	}

	span {
		padding: 7px 10px;
		display: none;

		&.show-score {
			display: inline;
		}
	}

	#high-score {
	  background: #d5ebf3;
	}
	#score {
	  background: #d4f0fa;
	}
}

#selection {
	height: 30px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 30px;
	position: absolute;
	top: 20px;
	color: #2e667d;
	text-transform: uppercase;
}

#cube {
  width: 80vh;
  height: 80vh;
  box-sizing: border-box;
	background: white;
	padding: 20px;
	box-shadow: 1px 1px 8px 1px rgba(128, 128, 128, 0.2);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: url('../cursor.svg') 25 25, cell;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;

		li {
			flex: 1 13%;
			background: #d4f0fa;
			padding: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 20px;
			font-size: 6vh;
			color: black;
			text-transform: capitalize;
			text-align: center;

			&:nth-child(even) {
				background: #d5ebf3;
			}

			&.highlight {
				background: #19756a;
			}

			&:before {
				content:'';
				float:left;
				padding-top:100%;
			}

			&.animate {
				opacity: 0;
				-webkit-transform-style: preserve-3d;
				transform-style: preserve-3d;
				-webkit-transform: scale(0.4);
				transform: scale(0.4);
				-webkit-animation: popUp .6s ease-in forwards;
				animation: popUp .6s ease-in forwards;
			}

		}
	}
}


@-webkit-keyframes popUp {
	0% { }
	70% { -webkit-transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; }
	100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes popUp {
	0% { }
	70% { -webkit-transform: scale(1.1); transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

@media only screen and (max-height: 800px) {
  #cube {
		padding: 0px;
		height: 74vh;
		width: 74vh;
		cursor: url('../small_cursor.svg') 25 25, pointer;

		ul li {
			font-size: 4.5vh;
			margin:15px;
		}
	}
}
