#game-over-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  justify-content: center;
  align-items: center;
  display: none;
  opacity: 0;
  transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;


  &.active {
    display: flex;
    opacity: 1;
  }

  #game-over {
    font-size: 100px;
    padding: 50px;
    text-align: center;
    background: rgba(211, 240, 251, 0.8);
    // box-shadow: 0px 0px 20px 20px rgba(211, 240, 251, 0.8);
    color: #2d667d;
    text-transform: uppercase;
    font-size: 6vh;
    line-height: 1.5;

    h1 {
      font-size: 11vh;
      line-height: 1.2;
    }

    #play-again {
      font-size: 4vh;
      padding-left: 25px;
      padding-right: 25px;
    }

  }
}
