#guessed-contain {
  min-width: 230px;
  max-height: 85vh;
  overflow: auto;
}
#guessed-contain h3 {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
  color: #2d667d;
}
#guessed-words li {
  text-transform: uppercase;
  display: flex;
	color: #17756a;
  justify-content: space-between;
  border-bottom: 1px solid rgba(95, 193, 181, 0.2);
	padding: 5px 0;

}
#guessed-words li div:first-child {
	font-weight: bold;
}
