#welcome {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 400px;
}

#start, #play-again {
	cursor: pointer;
  background: #17756a;
  padding: 5px 19px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 61px;
  font-size: 25px;
  color: white;
}

#instructions {
	line-height: 1.5;
	margin-bottom: 40px;
	cursor: default;

	h4 {
	  font-size: 30px;
	  color: #2e667d;
		line-height: 1.2;
		margin-bottom: 5px;
	}

	p {
		margin-bottom: 12px;
	}

	strong {
		font-weight: bold;
	}
}

#score-instructions {
	cursor: help;
	border-bottom: 1px solid #95bbca;
}

#score-scheme {
	display: none;
	border-collapse: collapse;
	box-shadow: 1px 1px 8px 1px rgba(128, 128, 128, 0.2);


	thead {
		border-bottom: 1px solid #17756a;
		color: #2d667d;
	}

	th {
		font-weight: bold;
		text-transform: uppercase;
	}

	tr:nth-child(even) {
	  background: #eff6f9;
	}

	th, td {
		padding: 5px 10px;
	}

	&.active {
		display: block;
		position: absolute;
		left: 6vh;
		background: white;
		padding: 10px;
		border-radius: 6px;
	}
}

@media all and (max-width: 550px) {
	.game-on aside#welcome {
		display: none;
	}
	#start, #play-again {
		position: fixed;
		bottom: 15px;
		transform: translate(50%);
	}
}