#main {
  display: flex;
	width: 100%;
	min-height: 100vh;
	justify-content: space-between;
	padding-top: 20px;
}

aside {
	padding: 5vh;
  padding-right: 0;
}

footer {
	font-weight: bold;

  a {
    font-weight: normal;
    margin-right: 10px;
    color: #2d667d;
  }

  i {
    color: #82a4b0;
  }
}

footer, footer a {
  color: #2d667d;
  line-height: 1.5;
}
