#title {
  font-size: 45px;
	margin-top: -20px;
	margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  width: 250px;
  height: 250px;
  display: flex;
	flex-wrap: wrap;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#title > div {
	flex: 1 50%;
	padding: 5px;
}
#title-word {
  background: #2c667d;
	box-shadow: 1px 1px 8px 1px rgba(128, 128, 128, 0.5);

}
#title-cube {
  background: #17756a;
	box-shadow: 1px 1px 8px 1px rgba(128, 128, 128, 0.5);

}
#title-cube, #title-word {
	color: white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
#title-cube span, #title-word span {
	flex: 1 50%;
}

@media only screen and (max-height: 800px) {
  #title {
    height: 125px;

    > div {
      flex-basis: 45%;
      margin: 5px;
    }

    .extra {
      display: none;
    }
  }
}
